
 /* header {
    padding: 154px 0 100px;
    height: 80vh; 
    width: 120vw; 
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    display: block;
    margin: 0 auto;
    z-index: -1;
  }
  
  @media (min-width: 992px) {
    header {
      padding: 156px 0 100px;
      display: block;
      margin: 0 auto;
      z-index: -1;
    }
  } */

  div.fixed-table-loading {
    visibility: hidden;
  }

  body {
    overflow-x: hidden;
  }

  #tableRow {
    height:80vh;
    max-height: 80vh;
}

#paraText {
  background-image: url("/img/graduation.jpg");
  color: white;
  height: 60vh;
  /* width: 105vw; */
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  overflow-x: hidden;
}


.about-row {
  margin: 5vh 0 5vh 0;
}

.about-image {
  border-radius: 4px;
}

.page-list {
  margin: 0 10px;
}

.hidden {
  visibility: hidden;
}


#bars {
  height: 70vh;
}

.chart-config-dropdown {
  display: inline-block;
  width: 80vw;
}
@media (min-width: 768px) {
  .chart-config-dropdown {
    display: inline-block;
    width: 13vw;
    margin-right: 1vw;
  }
}

.glyphicon-sort {
  font-size: .8em;
  margin-left: .5em;
}