{% extends "pages/layout.html" %} {% block body %}

<div class="row about-row">
    <div class="col-md-4">
        <img class="about-image" src="http://placekitten.com/350/400">
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <h3>Kimmi</h3>
        <p>blah blah blah</p>
    </div>
</div>

<div class="row about-row">
    <div class="col-md-4">
        <img class="about-image" style="width: 350px;" src="/img/yong-jin.jpg">
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <h3>Yong-Jin</h3>
        <p>
            Yong Jin- Graduated from University of Virginia with Financial Concentration on Mathematics B.A. degree. He developed his interest in Data Science while he was working for IT company called WealthEngine as Data Production Specialist. While he is working at Navy Federal Credit Union as Business Systems Analyst, he is continuing his education at George Mason University for Graduate Certificate in Data Science.
        </p>
    </div>
</div>

<div class="row about-row">
    <div class="col-md-4">
        <img class="about-image" src="http://placekitten.com/350/400">
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <h3>Lauren</h3>
        <p>blah blah blah</p>
    </div>
</div>


{% endblock %}