{% extends "pages/layout.html" %} {% block body %}

<div class="row">
    <div class="col-lg-12">
        <h2 style="text-align: center;">
            About Us 
        </h2>
    </div>
</div>

<div class="row about-row">
    <div class="col-md-4">
        <img class="about-image" src="https://rlv.zcache.com/adorable_golden_retriever_puppy_dog_postcard-r408128f1bc5c42c68bd2002814c02505_vgbaq_8byvr_324.jpg">
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <h3>Kim</h3>
        <p>
            Kim is a dog person. She is in an accelerated masters program.
        </p>
    </div>
</div>

<div class="row about-row">
    <div class="col-md-4">
        <img class="about-image" style="width: 350px;" src="/img/yong-jin.jpg">
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <h3>Yong-Jin</h3>
        <p>
            Yong Jin- Graduated from University of Virginia with Financial Concentration on Mathematics B.A. degree.
            He developed his interest in Data Science while he was working for IT company called WealthEngine as Data
            Production Specialist. While he is working at Navy Federal Credit Union as Business Systems Analyst, 
            he is continuing his education at George Mason University for Graduate Certificate in Data Science.
        </p>
    </div>
</div>

<div class="row about-row">
    <div class="col-md-4">
        <img class="about-image" style="width: 350px; transform: rotate(90deg);" src="/img/lauren.jpg">
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <h3>Lauren</h3>
        <p>
            Lauren Pincus is a student at George Mason University. She is the oldest of five and 
            the proud parent of an one-and-one-half year old boy. 
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2 style="text-align: center;">
            Resources
        </h2>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="https://www.python.org/" rel="nofollow">python</a> 
                for being the easiest to learn language
            </li>
            <li class="list-group-item">
                <a href="http://flask.pocoo.org/" rel="nofollow">flask</a> 
                for providing such a simple web framework
            </li>
            <li class="list-group-item">
                <a href="https://getbootstrap.com/docs/3.3/" rel="nofollow">bootstrap</a> 
                for your beautiful responsive stylings
            </li>
            <li class="list-group-item">
                <a href="http://bootstrap-table.wenzhixin.net.cn/" rel="nofollow">bootstrap table</a> 
                for taking the work out of making awesome tables
            </li>
            <li class="list-group-item">
                <a href="https://d3js.org/" rel="nofollow">d3js</a> 
                for powering so many beautiful charts
            </li>
            <li class="list-group-item">
                <a href="https://www.taucharts.com/" rel="nofollow">taucharts</a> 
                for providing such a clean api to use with those charts
            </li>
            <li class="list-group-item">
                <a href="https://www.kaggle.com/" rel="nofollow">kaggle</a> 
                for providing data
            </li>
            <li class="list-group-item">
                <a href="http://leaverou.github.io/awesomplete/" rel="nofollow">awesomecomplete</a> 
                for super easy light-weight autocompletion
            </li>
        </ul>
    </div>
</div>

{% endblock %}
