{% extends "pages/layout.html" %} {% block body %}

<div class="row about-row">
    <div class="col-md-4">
        <img class="about-image" src="https://rlv.zcache.com/adorable_golden_retriever_puppy_dog_postcard-r408128f1bc5c42c68bd2002814c02505_vgbaq_8byvr_324.jpg">
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <h3>Kim</h3>
        <p>blah blah blah</p>
    </div>
</div>

<div class="row about-row">
    <div class="col-md-4">
        <img class="about-image" src="http://placekitten.com/350/400">
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <h3>Yong-jin</h3>
        <p>blah blah blah</p>
    </div>
</div>

<div class="row about-row">
    <div class="col-md-4">
        <img class="about-image" src="http://placekitten.com/350/400">
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <h3>Lauren</h3>
        <p>blah blah blah</p>
    </div>
</div>


{% endblock %}
