{% extends "pages/layout.html" %} {% block body %}


<div class="page-header">
    <h2>Well Begun is Half Done!</h2>
</div>
<div class="row">
    <div class="col-md-12">
        <div style="margin-bottom: 2vh;">
            <h3>Where do I start? Know different majors!</h3>
            <p>
                Picking a major is hard. It helps to know what kind of job you'll be able to get afterwards, what kind of lifestyle that will let you lead, 
                and how many openings there are for that job. There's no perfect statistic to answer all these questions, but the pay for a job is a good proxy
                of this. 
            </p>
            <p>
                Explore the pay of a few different jobs and select ones that interest you. 
            </p>
            <p style="font-size: 0.5em;">
                * I am not a doctor. I do not claim to cure any cause, condition or disease. The Content is not intended to be a substitute
                for professional medical advice, diagnosis, or treatment.
            </p>
        </div>
    </div>
</div>
<div class="row" id="tableRow">
    <div class="col-md-6 col-sm-12">
            <div style="margin-top: 2vh;">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="degreesTab" data-toggle="tab" href="#degrees" role="tab" aria-controls="degrees" aria-selected="false">
                                Degrees That Pay
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="salaries-collegeTab" data-toggle="tab" href="#college" role="tab" aria-controls="college" aria-selected="false">
                                Salaries By College
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="salaries-regionTab" data-toggle="tab" href="#regions" role="tab" aria-controls="regions" aria-selected="false">
                                Salaries By Region
                            </a>
                        </li>
                        <!-- <div class="btn-group" role="group" aria-label="..." style="float: right;">
                            <button id="bars-button" type="button" class="btn btn-default chart-button">
                                Show Chart
                            </button>
                        </div> -->
                    </ul>
                    <div class="tab-content" id="myTabContent" style="margin-top: 2vh;">
                        <div class="tab-pane fade" id="degrees" role="tabpanel" aria-labelledby="home-tab">
                            <table id="degreesTable" class="dataTable" data-toolbar="#toolbar" data-search="true" data-show-refresh="true" data-show-toggle="true"
                                data-show-columns="true" data-show-export="true" data-detail-view="true" data-minimum-count-columns="2"
                                data-show-pagination-switch="true" data-pagination="true" data-id-field="UndergraduateMajor" data-page-list="[10, 25, 50, 100, ALL]"
                                data-show-footer="false" data-sort-name="UndergraduateMajor" data-sort-order="asc">
                                <thead>
                                    <tr>
                                        <th data-field="UndergraduateMajor" data-sortable="true">
                                            Undergraduate Major
                                        </th>
                                        <th data-field="StartingMedianSalary" data-sortable="true">
                                            Starting Median Salary
                                        </th>
                                        <th data-field="Mid-CareerMedianSalary" data-sortable="true" data-formatter="priceFormatter">
                                            Mid-Career Median Salary
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="college" role="tabpanel" aria-labelledby="profile-tab">
                            <table id="collegeTable" class="dataTable" data-toolbar="#toolbar" data-search="true" data-show-refresh="true" data-show-toggle="true"
                                data-show-columns="true" data-show-export="true" data-detail-view="true" data-minimum-count-columns="2"
                                data-show-pagination-switch="true" data-pagination="true" data-id-field="SchoolName" data-page-list="[10, 25, 50, 100, ALL]"
                                data-show-footer="false" data-sort-name="SchoolName" data-sort-order="asc">
                                <thead>
                                    <tr>
                                        <th data-field="SchoolName" data-sortable="true">
                                            School
                                        </th>
                                        <th data-field="SchoolType" data-sortable="true">
                                            School Type
                                        </th>
                                        <th data-field="StartingMedianSalary" data-sortable="true">
                                            Starting Median Salary
                                        </th>
                                        <th data-field="Mid-CareerMedianSalary" data-sortable="true">
                                            Mid-Career Median Salary
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="regions" role="tabpanel" aria-labelledby="contact-tab">
                            <table id="regionsTable" class="dataTable" data-toolbar="#toolbar" data-search="true" data-show-refresh="true" data-show-toggle="true"
                                data-show-columns="true" data-show-export="true" data-detail-view="true" data-minimum-count-columns="2"
                                data-show-pagination-switch="true" data-pagination="true" data-id-field="SchoolName" data-page-list="[10, 25, 50, 100, ALL]"
                                data-show-footer="false" data-sort-name="SchoolName" data-sort-order="asc">
                                <thead>
                                    <tr>
                                        <th data-field="SchoolName" data-sortable="true">
                                            School
                                        </th>
                                        <th data-field="Region" data-sortable="true">
                                            Region
                                        </th>
                                        <th data-field="StartingMedianSalary" data-sortable="true">
                                            Starting Median Salary
                                        </th>
                                        <th data-field="Mid-CareerMedianSalary" data-sortable="true">
                                            Mid-Career Median Salary
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
    </div>
    <div class="col-md-6 col-sm-12 hidden" style="float: right;">
        <div id="bars">

        </div>
    </div>
</div>


{% endblock %}