{% extends "pages/layout.html" %}

{% block body %}

<header id="paraText" class="bg-primary text-white">
  <div class="container text-center">
    <h1>Welcome to the Future</h1>
    <p class="lead">A landing page for your dreams</p>
  </div>
</header>

<div id="container">
  <div class="container">
    <div class="row" style="height: 30vh;">
      <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
          What jobs are available? Which ones make money? Which ones are the most fun? How much money will I need to live the lifestyle
          I want?
        </p>
        <p>
          You've got questions. So do we.
        </p>
        <p>
          <a class="btn btn-default" href="/getstarted">Learn more &raquo;</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Choose a job</h2>
        <p>You know what you want your future to look like. What do you need to do to make this happen? </p>
        <p>
          <a class="btn btn-default" href="/job">Learn more &raquo;</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Choose a major</h2>
        <p>
          You've picked a job and want to know how to stand out from the crowd. Maybe you're in in university and running out of time.
          We can help.
        </p>
        <p>
          <a class="btn btn-default" href="/major">Learn more &raquo;</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row" style="height: 40vh;">
<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="jumbotron" style="border-radius: 15px;">
        <div class="container">
          <h2>Your future starts now.</h2>
          <p class="lead">
            Create a plan with us
          </p>
        </div>
    </div>
</div>
<div class="col-md-2"></div>
</div>





{% endblock %}
