{% extends "pages/layout.html" %}

{% block body %}
<div class="row">
<header id="paraText" class="bg-primary text-white">
  <div class="container text-center">
    <h1>Choose Your Major Wisely and Plan Your Future</h1>
    <p class="lead">We will show you job opportunities in each majors, what elective courses will be best for your future job, 
                  and more importantly salaries associated with those jobs. 
    </p>
  </div>
</header>
</div>

<div class="row" style="min-height: 30vh;">
      <div class="col-md-4 col-sm-12">
        <h2>Know different majors</h2>
        <p>
          What majors are available? Which ones make money? Money doesn't buy you a happiness. However, it might be one of practical values to be considered. 
        </p>
        <p>
          Contains Salary per Majors, Institutions, and Regions.
        </p>
        <p>
          <a class="btn btn-default" href="/getstarted">Learn more &raquo;</a>
        </p>
      </div>
      <div class="col-md-4 col-sm-12">
        <h2>Know REAL jobs in the market</h2>
        <p>You know what you want your future to look like. What do you need to do to make this happen? Search for interested jobs and know what they require. </p>
        <p>
          <a class="btn btn-default" href="/job">Learn more &raquo;</a>
        </p> 
        <p>
        </p>
      </div>
      <div class="col-md-4 col-sm-12">
        <h2>Job opportunities per Major</h2>
        <p>
          You've picked a major and want to know opportunities out there for your major. Maybe you're in in university and running out of time.
          We can help with your research.
        </p>
        <p>
          <a class="btn btn-default" href="/major">Learn more &raquo;</a>
        </p>
      </div>
</div>

<div class="row" style="height: 40vh;">
  <div class="col-md-2"></div>
  <div class="col-md-8">
      <div class="jumbotron" style="border-radius: 15px;">
          <div class="container">
            <h2>Your future starts now.</h2>
            <p class="lead">
              Create a plan with us
            </p>
            <p>
              <a class="btn btn-default" href="/register">Register Now &raquo;</a>
            </p>
          </div>
      </div>
  </div>
  <div class="col-md-2"></div>
</div>





{% endblock %}
