{% extends "pages/layout.html" %}

{% block body %}
<div class="row">
<header id="paraText" class="bg-primary text-white" style="background-color: #fff;">
  <div class="container text-center">
    <h1>Choose Your Major Wisely and Plan Your Future</h1>
    <p class="lead">
      We will show you job opportunities for various majors, what elective courses will be best for your future job, 
      and more importantly salaries associated with those jobs. Use our website and optimize your future.
    </p>
  </div>
</header>
</div>

<div class="row" style="min-height: 30vh;">
      <div class="col-md-4 col-sm-12">
        <h2>Know Different Majors</h2>
        <p>
          What majors are available? Which ones make money? Money doesn't buy happiness. 
          However, it is the one of practical values to be considered. 
        </p>
        <p>
          Contains Salary per Majors, Institutions, and Regions.
        </p>
        <p>
          <a class="btn btn-default" href="/getstarted">Get Started &raquo;</a>
        </p>
      </div>
      <div class="col-md-4 col-sm-12">
        <h2>Find Real Robs</h2>
        <p>
          You know what you want your future to look like. 
          What do you need to do to make this happen? Search for jobs you are interested in and know their requirements. 
        </p>
        <p>
          <a class="btn btn-default" href="/jobs">Search Job Openings &raquo;</a>
        </p> 
        <p>
        </p>
      </div>
      <div class="col-md-4 col-sm-12">
        <h2>Job Profiles by Major</h2>
        <p>
          You've picked a major and want to know what opportunities are out there for you. 
          Maybe you're in a university and running out of time to figure out which path to take.
          We can help with your research.
        </p>
        <p>
          <a class="btn btn-default" href="/major">Find Jobs for your Major &raquo;</a>
        </p>
      </div>
</div>

<div class="row" style="height: 40vh;">
  <div class="col-md-2"></div>
  <div class="col-md-8">
      <div class="jumbotron" style="border-radius: 15px;">
          <div class="container">
            <h2>Your future starts now.</h2>
            <p class="lead">
              Create a plan with us
            </p>
            <p>
              <a class="btn btn-default" href="/register">Create Account &raquo;</a>
            </p>
          </div>
      </div>
  </div>
  <div class="col-md-2"></div>
</div>





{% endblock %}
