{% extends "pages/layout.html" %}

{% block body %}
<div class="row">   
    <!-- get input for serach -->
    <div class="lol-lg-6 col-md-4 col-sm-12">
        <div class="row">
            <div class="input-group">
                <input id="job-search-input" 
                    aria-describedby="basic-addon1"
                    name="job-search-input" 
                    list="language-list" 
                    type="text" 
                    class="form-control" 
                    placeholder="Python, Java...">
                <datalist id="language-list">
                        <option>Python</option>
                        <option>Nodejs</option>
                        <option>Java</option>
                        <option>Javascript</option>
                        <option>Data Science</option>
                    </datalist>
                <span class="input-group-btn">
                    <button id="job-search-btn" class="btn btn-default" type="button">Find Jobs!</button>
                </span>
            </div><!-- /input-group -->
        </div>
        <div class="row">
                <table id="job-table" 
                class="dataTable" 
                data-toolbar="#toolbar" 
                data-search="true" 
                data-show-refresh="true" 
                data-show-toggle="true"
                data-show-columns="true" 
                data-show-export="true" 
                data-detail-view="false" 
                data-minimum-count-columns="2" 
                data-show-pagination-switch="true"
                data-pagination="true" 
                data-id-field="id" 
                data-page-list="[10, 25, 50, 100, ALL]" 
                data-show-footer="false" 
                data-sort-name="created_at"
                data-sort-order="asc">
                <thead>
    
                </thead>
            </table>
        </div>

    </div>
    <div class="col-lg-6 col-md-8 col-sm-12" style="float: right;">
        <div id="job-desc-well" class="well">
            <p id="job-desc-p"></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

    </div>
</div>

{% endblock %}
