{% extends "pages/layout.html" %} {% block body %}

<a name="top"></a>
<div class="row">
    <div class="col-lg-12">
        <h2 style="text-align: center; margin-bottom:20px;">
            Helpful Links
        </h2>
    </div>
</div>

<ul>
    <li><a href="https://patriotweb.gmu.edu">Patriot Web</a>
    <li><a href="https://mymasonportal.gmu.edu">GMU Blackboard</a>
    <li><a href="https://catalog.gmu.edu">GMU Catalog 2017-2018</a>
    <li><a href="https://irr2.gmu.edu/New/N_EnrollOff/">GMU Official Enrollment</a>
</ul>


{% endblock %}
