{% extends "pages/layout.html" %} {% block body %}
<div class="row" style="height: 10vh;">
    <div id="major-input" class="col-md-6 col-xs-12">
        <p class="lead">
            Search for jobs related to your major 
        </p>
        <div class="input-group" style="margin-top: 2vh;">
            <input type="text" list="mylist" class="form-control" placeholder="My Major is..." aria-label="My Major is...">
            <datalist id="mylist">
                <option>Computer Science</option>
                <option>CDS</option>
                <option>Sociology</option>
                <option>Computer Engineering</option>
                <option>Electrical Engineering</option>
            </datalist>
            <span class="input-group-btn">
                <button id="btnMajor" class="btn btn-secondary" type="button">Go!</button>
            </span>
        </div>
    </div>
</div>
<div id="major-data-row" class="row hidden" style="height: 80vh;">
    <div id="major-table-col" class="col-md-8 col-sm-12" style="float: left;">
        <table id="major-table" class="dataTable" 
            data-toolbar="#toolbar" data-search="true" 
            data-show-refresh="true" data-show-toggle="true"
            data-show-columns="true" data-show-export="true" 
            data-detail-view="false" data-minimum-count-columns="2" 
            data-show-pagination-switch="true"
            data-pagination="true" data-id-field="Rank"
             data-page-list="[10, 25, 50, 100, ALL]" data-show-footer="false" 
             data-sort-name="Rank"
            data-sort-order="asc">
            <thead>
                <tr>
                    <th data-checkbox="true" data-field="selected"></th>
                    <th data-field="Rank" data-sortable="true">
                        Rank
                    </th>
                    <th data-field="Career" data-sortable="true">
                        Career
                    </th>
                    <th data-field="AvailableJobs" data-sortable="true">
                        Available Jobs in 7/2014 ~ 6/2015
                    </th>
                    <th data-field="ProjectedGrowth" data-sortable="true">
                        Projected Growth
                    </th>
                    <th data-field="MinimumProjectedGrowthAmount" data-sortable="true">
                        Minimum Projected Growth Amount
                    </th>
                    <th data-field="MedianSalary" data-sortable="true">
                        Median Annual Salary
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="job-description" class="col-md-4 col-sm-12" style="float: right; height: 100%; min-height: 100%;">
        <h3>Description</h3>
        <div id="description-well" class="well" >
            <p id="desc-p">...</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- chartype, x, y, color, size,  -->
            <button id='compare-carreers-button chart-config-dropdown' class="btn btn-default" type="submit">
                Compare Careers
            </button>
            <select id="career-charttype-select" class="form-control chart-config-dropdown">
                <option>horizontal-bar</option>
                <option>line</option>
                <option>area</option>
                <option>bar</option>
                <option>stacked-bar</option>
                <option>horizontal-stacked-bar</option>
            </select>
            <select id="career-x-select" class="form-control chart-config-dropdown">
                <option>Career</option>
                <option>Rank</option>
                <option>AvailableJobs</option>
                <option>ProjectedGrowth</option>
                <option>MinimumProjectedGrowthAmount</option>
                <option>MedianSalary</option>
                <option>DailyDuties</option>
            </select>
            <select id="career-y-select" class="form-control chart-config-dropdown">
                <option>AvailableJobs</option>
                <option>Rank</option>
                <option>Career</option>
                <option>ProjectedGrowth</option>
                <option>MinimumProjectedGrowthAmount</option>
                <option>MedianSalary</option>
                <option>DailyDuties</option>
            </select>
            <select id="career-color-select" class="form-control chart-config-dropdown">
                <option>MedianSalary</option>
                <option>Rank</option>
                <option>Career</option>
                <option>AvailableJobs</option>
                <option>ProjectedGrowth</option>
                <option>MinimumProjectedGrowthAmount</option> 
                <option>DailyDuties</option>
            </select>
            <select id="career-size-select" class="form-control chart-config-dropdown">
                <option>MinimumProjectedGrowthAmount</option>
                <option>Rank</option>
                <option>Career</option>
                <option>AvailableJobs</option>
                <option>ProjectedGrowth</option>
                <option>MedianSalary</option>
                <option>DailyDuties</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="compare-career-charts">

            </div>
        </div>
    </div>
</div>

{% endblock %}